.productosContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.productoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 2px solid ;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    background-color: white;
}

.productoCard:hover {
    transform: translateY(-5px);
}

.productoImagen {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.productoNombre {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
    text-align: center;
}

.productoPrecio {
    font-size: 1.1rem;
    color: #424fc2;
    margin-bottom: 1rem;
}

.productoBoton {
    padding: 0.5rem 1rem;
    background-color: #4299e1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.productoBoton:hover {
    background-color: #2b6cb0;
}
